.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #2541B2;
    height: 53px;
    padding:  10px;
    gap: 20px;
}

.button-group {
    display: flex;
    width: 30%;
    gap: 20px;
}

.button {
    height: 33px;
    width: 20%;
    background-color: #1768AC;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #03256C;
}